# CLASSIFICATION AND PREDICTING CUSTOMER CHURN PROJECT

## Introduction

### Customer churn is a big concern for many organisations and companies in business today. This project is designed to analyze the probability of customers leaving the organization, identify crucial indicators of churn, and propose actionable retention strategies to mitigate this issue.

### **Description;** The aim of this project is to build a roobust machine learning pipeline to predict whether certain customers will churn from the organization or not. Predictive modeling will be done after deep analysis of the dataset provided by the marketing team. 


#  **The Hypothesis**

### **Null Hypothesis:** There seem to be no relationship between customer satisfaction and the churn of the customers in the organisation. 

### **Alternative Hypothesis:** There is a clear relationship existing between customer satisfaction and churn in the organisation.

## **The Analytical Questions**

### 1. What are the key factors influencing customer churn in the organization?
### 2. What is the relation between gender in predicting churn?
### 3. What is the effect of changes in pricing or service plans on customer churn?
### 4. Are there specific patterns or trends in customer behavior leading to churn?
### 5. What segments of customers have a higher likelihood of churning?

# Importing the relevant libraries and modules

In [1]:
import pyodbc 
from dotenv import dotenv_values 
import re
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [2]:
# importing visualization modules
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import f_oneway

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")
database = environment_variables.get("DATABASE")


#connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [4]:
# Establish a connection to the database using the provided connection string.
connection = pyodbc.connect(connection_string)

In [5]:
query = "Select * from dbo.LP2_Telco_churn_first_3000"
df1 = pd.read_sql(query, connection)

In [6]:
df1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [8]:
# Load the second data
df2 = pd.read_excel('Telco-churn-second-2000.xlsx')

# Display  the DataFrame
df2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB